th{
  vertical-align: text-top;
}
.cell-blank{
  background-color: red; 
}
.DOT-table {
  font-size: .74em;
  line-height: 1;
}
.pageHeader, #fileData, #mainHeader {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 2%;
}
.jumbotron, #topRowBtns, #sliderDiv, #cautionSlider, #fileDisplayArea{
  margin-left: 3%;
  margin-right: 3%;
}
td{
  white-space: nowrap;
  margin: auto;
}
 ::-ms-tooltip {
  display: none;
}
.centered{
  text-align: center;
}
.sqPatchImg {
  /* TODO: make this auto-gonk the sizing based on how many patches there are */
  /* TODO: switch to Friday patches on Friday? */
  /* height: 4rem; */
  width: 5.3333%;
  width: calc(80%/15);
}
#sqPatches{
  display: block;
  margin: auto;
  text-align: center;
}
